<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
       <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Parking Bill</h1>
            </div>
        </div>
       </div>

       <div class="container">
        <div class="row text-center">
            <div class="col-md-3">Owner's Name:<%=record.Oname%></div>
            <div class="col-md-3">Vehicle Number:<%=record.vno%></div>
            <div class="col-md-3">Vehicle IN Time:<%=record.vin%></div>
            <div class="col-md-3">Vehicle OUT Time:<%=record.vout%></div>
            
        </div>
       </div>

       <div class="container">
        <div class="row text-center mt-3">
            <div class="col-md-12">
            Amount To Pay:<%=record.amount%>
            </div>
        </div>
       </div>
       <script>
        function handleprint(){
            window.print()
        }
        handleprint()

       </script>

    </body>